[submodule "robot-description"]
	path = robot-description
	url = ssh://git@192.168.2.65:8022/bipedrobot/tron2/robot-description.git
	branch = develop
[submodule "robot-joystick"]
	path = robot-joystick
	url = https://github.com/limxdynamics/robot-joystick.git
	branch = main
[submodule "limxsdk-lowlevel"]
	path = limxsdk-lowlevel
	url = https://github.com/limxdynamics/limxsdk-lowlevel.git
